
#particles-js {
    height: 100%;
    width: 100%;

}

.login__container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.login__card {
    height: 60vh;
    width: 60vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login__card > h1 {
    font-size: 100px;
    color: #fff;
}
.login__card > h2 {
    font-size: 30px;
    color: lavender;
}

.login__card > button {
    font-size: 20px;
    font-weight: bold;
    color: gray;
    margin-top: 3vh;
    border-width: 0px;
    border-radius: 25px;
    height: 7vh;
    width: 50%;
}